<h1>新しい目標を作成</h1>

<%= form_with model: @goal do |form| %>
  <div>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, "説明" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :deadline, "期限" %>
    <%= form.date_field :deadline %>
  </div>

  <div>
    <%= form.submit "作成" %>
  </div>
<% end %>